{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Creeation de la personne</h1>

    <form action="{{ path('ajouter_personne') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Ajouter</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('personne') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
