{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Cadre creation</h1>

    <form action="{{ path('cadre_create') }}" method="post" {{ form_enctype(form) }} class="form form-horizontal">
       
{{ form_widget(form) }}

        <p>
            <button type="submit" class="btn btn-primary">Créer</button>
        </p>
    </form>

       <p>
           <a href="{{ path('cadre') }}" class="btn">
            <i class="icon-chevron-left"></i>
            Retour a la liste des cadres
        </a>
           </p>  
{% endblock %}
