{# empty Twig template #}
{% extends "::base.html.twig" %}

{% block title %}
HR - {{ parent() }}
{% endblock %}

{% block body %}

<h1>HR</h1>
<hr>
{% block sosFSOHr_body %}
{% endblock %}

{% endblock %}